## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## IDE
.vs/
.vscode/
.idea/
*.swp

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/

## SQLite database
*.db
*.db-shm
*.db-wal

## OS
Thumbs.db
.DS_Store

## Project specific
.mcp.json
